* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.name{
    color:#de0f00;
    
border: 1px solid #030303;
font-size: 20px;
}
.school{
    color:lime;
    background-color:#323d35;
    border: 2px soilid #030303;
    font-size: 25px;
}
.speak{
    color: #d5ff05;
    background-color:#96b39e;
    border: 3px dashed #030303;
    font-size: 20px; 
}
.a {
    color:lime;
    font-size:30px;
  }
  .hobby{
      color: blue;
      font-size: 20px;
  }
  .s{
      color: cyan;
  }
  .c{
      color:brown;
  }
  .g{
    color:magenta;
      
  }

  .centre{
      text-align: center;
  }
  .ur{
    color:#00d9ed;
    font-size:30px;
    background-color: #636363;
    border: 3px dashed #030303;
  }
  .rt{
      color:#d5ff05;
  }
  .ert{
    color:#c105ff;
    font-size:30px;
    background-color: #636363;
    border: 3px solid #030303;  
  }